<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browsers" value="firefox,ie"/>
		<add key ="masterfile" value="TestFiles\master.xlsx"/>
		<add key ="sequencefile" value="TestFiles\sequences.xlsx"/>
		<add key ="uimapfile" value="TestFiles\uimap.xlsx"/>
		<add key ="datadirectory" value="TestFiles\Data"/>
	</appSettings>
</configuration>